* {
    box-sizing: border-box;
    font-family: 'Belgrano', serif;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
p {
   margin: 0;
}
li {
    margin-bottom: 15px;
    width: 100%;
    list-style-type: none;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h4 {
    margin-top: 0;
    margin-bottom: 0;
}
nav {
    display: block;
}
.cv {
    display: flex;
    border: gray dotted 0.5px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.photo_contacts_block {
    border: gray solid dotted;
    margin: 0 0 0 20px;
    background-color: #00242b;
    width: 350px;
}
.section {
    box-sizing: border-box;
}
.myphoto {
    text-align: center;
}
.photo {
    height: 300px;
    margin-top: 20px;
}
.contacts_text {
    margin-top: 70px;
    color: #78a1bb;
    text-align: center;

}
.contacts_list {
    text-align: left;
    color: white;
}
.allInformation {
    background-color: pink;
    margin-top: 20px;
}
.name_specialty_block {
    background-color: #03674f;   
    height: 250px;
    vertical-align: middle; 
    text-align: center;
    padding-top: 10px;

}
.personName {
    font-size: 48px;
    color: white;
}
.specialtyName {
    font-size: 32px;
    color: black;
}
.information {
    margin: 20px;
}
.headName {
    font-size: x-large;
    font-style: italic;
    text-align: center;
}
.description {
    text-align: initial;
}
.descriptionHead {
    font-size: 2em;
}
.additionalDescription {
    font-style: italic;
    margin-bottom: 0;
}
summary {
    display: block;
}
  
summary::-webkit-details-marker {
    display: none;
}
summary {
    color: purple;
}
.codeStyle {
    font-size: 16px;
    text-align: left;
}
.rssLogo {
    height: 30px;
}
.footer {
    display: block;
    height: 70px;
}
.footerElements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
}


